soapsserver-stub/src/main/resources/META-INF/wsdl/SampleService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sample.endpoint.soapserver.app.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SampleService" targetNamespace="http://sample.endpoint.soapserver.app.example.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sample.endpoint.soapserver.app.example.com/" elementFormDefault="unqualified" targetNamespace="http://sample.endpoint.soapserver.app.example.com/" version="1.0">
            <xs:element name="execute" type="tns:execute"/>
            <xs:element name="executeResponse" type="tns:executeResponse"/>
            <xs:complexType name="execute">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:requestMessage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="requestMessage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="req1" type="xs:string"/>
                    <xs:element minOccurs="0" name="req2" type="xs:string"/>
                    <xs:element minOccurs="0" name="req3" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="executeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:responseMessage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="responseMessage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="res1" type="xs:string"/>
                    <xs:element minOccurs="0" name="res2" type="xs:string"/>
                    <xs:element minOccurs="0" name="res3" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="execute">
        <wsdl:part element="tns:execute" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeResponse">
        <wsdl:part element="tns:executeResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SampleServiceEndpoint">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:execute" name="execute"></wsdl:input>
            <wsdl:output message="tns:executeResponse" name="executeResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SampleServiceSoapBinding" type="tns:SampleServiceEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="execute">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="executeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SampleService">
        <wsdl:port binding="tns:SampleServiceSoapBinding" name="SampleServiceEndpointPort">
            <soap:address location="http://localhost:8080/soapserver/ws/SampleService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>